html {
  overflow-x: hidden;
  scroll-snap-type: y mandatory;
  width: 100vw;
}

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  margin: 0;
  padding: 0;
}

* {
  margin: 0;
  padding: 0;
}

.App {
  // background-color: #46484d;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  // background-image: linear-gradient(60deg, #0048ff 50%, #00ff00 50%);
  animation: gradient 5s ease infinite;
  background: linear-gradient(
    45deg,
    #7c00007c,
    #7e00307e,
    #00557477,
    #00775d77
  );
  background-size: 200% 200%;

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }
}

.Brand {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  height: 3.5rem;
  justify-content: center;
  margin: 1rem 1.5rem;

  .Logo {
    display: flex;
    flex-direction: row;

    img {
      height: 3rem;
    }
  }

  .Title {
    justify-content: center;
    text-transform: uppercase;
    padding-left: 1rem;
  }
}

.Info {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 1.5rem;
  color: black;

  h2 {
    text-align: center;
  }

  img {
    height: 30rem;
  }
}

.Contact {
  display: flex;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  border-radius: 10px;
  margin: 1.5rem;
  height: fit-content;

  .Text {
    flex: 1;
    border-radius: 10px 0 0 10px;
    // height: 100%;
    width: 30%;
    padding: 1rem 0;
    text-align: center;
    border-right: solid 2px white;
  }

  .Items {
    display: flex;
    justify-content: space-evenly;
    border-radius: 0 10px 10px 0;
    width: 70%;
    // padding: 1rem 0;

    a {
      color: inherit;
      text-decoration: none;
    }

    .Insta,
    .Mail,
    .Whatsapp {
      display: flex;
      // flex-direction: row;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      border-radius: 10px;

      h5 {
        padding-left: 0.5rem;
        text-align: center;
      }

      &:hover {
        background: rgba(255, 0, 0, 0.6);
        cursor: pointer;
      }
    }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@media screen and (max-width: 968px) {
  .App {
    justify-content: flex-start;
  }

  .Brand {
    margin: 1.5rem .5rem;
  }

  .Info {
    flex-direction: column;
    margin: 0 1rem;

    h2 {
      font-size: large;
    }

    img {
      margin: 1rem 0;
      height: 15rem;
    }
  }

  .Contact {
    margin: 1rem .5rem;

    .Items {
      flex-direction: column;
      justify-content: center;
    }
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
